<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.openvanilla.inputmethod.Simplex</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Simplex</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>9</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Dayi</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Dayi</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>4</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Wubizixing</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Wubizixing</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>8</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Array</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Array</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>2</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.CangJie</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.CangJie</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>3</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Esperanto</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Esperanto</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>7</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Phonetic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Phonetic</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>1</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Tibetan</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Tibetan</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>6</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.Unicode</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.openvanilla.inputmethod.Unicode</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>5</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>OpenVanillaSmall.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.openvanilla.inputmethod.Wubizixing</string>
			<string>org.openvanilla.inputmethod.CangJie</string>
			<string>org.openvanilla.inputmethod.Simplex</string>
			<string>org.openvanilla.inputmethod.Array</string>
			<string>org.openvanilla.inputmethod.Dayi</string>
			<string>org.openvanilla.inputmethod.Phonetic</string>
			<string>org.openvanilla.inputmethod.Tibetan</string>
			<string>org.openvanilla.inputmethod.Unicode</string>
			<string>org.openvanilla.inputmethod.Esperanto</string>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>OpenVanilla</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.inputmethod.LoaderIMK</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleSignature</key>
	<string>OPVN</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>InputMethodConnectionName</key>
	<string>OpenVanilla_090_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>LVInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>LVInputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004-2009 The OpenVanilla Project.
All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>org.openvanilla.inputmethod.LoaderIMK</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>OpenVanillaSmall.icns</string>
</dict>
</plist>
